<section id="journey">
  <div class="container">
    <h2>Journey</h2>
    <div class="timeline">
      <div class="year-box" *ngFor="let yearData of journeyData">
        <h3 class="year">{{ yearData.year }}</h3>
        <div class="event" *ngFor="let event of yearData.events">
          <div class="date-heading">
            <p class="date">{{ event.date }}</p>
            <hr class="separator" />
            <h4 class="heading">{{ event.heading }}</h4>
          </div>
          <p class="description">{{ event.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
