<section id="messages">
  <div class="container">
    <h2>Journey</h2>
    
      <div class="timeline">
        <div class="event">
          <div class="year">2025</div>
          <div class="description">Started Angular development and explored routing concepts.</div>
        </div>
        <div class="event">
          <div class="year">2024</div>
          <div class="description">Organized a well-planned trip to Hong Kong Disneyland.</div>
        </div>
        <div class="event">
          <div class="year">2023</div>
          <div class="description">Refined academic content and explored GitHub Copilot for coding efficiency.</div>
        </div>
      </div>
    </div>
  </section>
