<section id="messages">
  <div class="container">
    <h2>Messages</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Summary</th>
          <th>Details</th>
          <th>Created By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages">
          <td data-label="Date">{{ message.date | date:'short' }}</td>
          <td data-label="Summary">{{ message.summary }}</td>
          <td data-label="Details">{{ message.details }}</td>
          <td data-label="Created By">{{ message.createdBy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
